<!doctype html>
<html lang="es">
    <head>
        <title>Mi Cabecera Fija</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/estilo.css')}}">
    </head>

    <body>
        <header class="header">
            <div class="container logo-nav-container">
                <a href="#" class = "logo">QUIFATEX</a>
                <nav class = "navigation" >
                    <ul>
                        <li><a href="/" >Inicio </a></li>
                        <li><a href="/productos" >Productos </a></li>
                        <li><a href="/nosotros" >Nosotros </a></li>
                        <li><a href="/Login-Registro">Login Usuarios </a></li>
                    </ul>
                </nav> 
            </div>

        </header>