{% include 'sitio/cabecera_usuario.html' %}
<main class="main">
    <div class="p-5 bg-light">
        <div class="container">
            <h1 class = "display-3"> Bienvenido, <strong>{{ session['nombre_completo']}}</strong> </h1>
            <br>
            <p>
                Forma parte de Quifatex, empresa multinacional con experiencia de más de 45 años en el Ecuador.
                Trabajamos con una estrategia de valor única en el mercado ofreciendo una serie de soluciones comerciales y logísticas para farmacéuticas y empresas de consumo, líderes a nivel mundial.    
            </p>
            <hr class = "my-2">
            <p> Mas Información</p>
        </div>
    </div>


</main>
{% include 'sitio/pie.html' %}